.Post {
    margin-top: 10%;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    max-height: 100vh;

    .postInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;
        padding-top: 5%;
        margin: auto;

        img {
            border-radius: 10px;
        }

        p {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #000000;
        }

        h3 {
            padding-top: 3%;
            font-style: normal;
            font-weight: 400;
            font-size: 16.3632px;
            line-height: 19px;

            color: #636363;
        }
    }

    .postMain {
        padding: 5%;
        max-width: 80%;
        margin: auto;

        h1 {
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;

            color: #000000;
        }

        h2 {
            padding-top: 3%;
            font-style: normal;
            font-weight: 400;
            font-size: 16.3632px;
            line-height: 19px;

            color: #636363;
        }
    }
}